if SHIELD_KEYCARD_LEFT

config ZMK_KEYBOARD_NAME
    default "Keycard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


if SHIELD_KEYCARD_LEFT || SHIELD_KEYCARD_RIGHT
    config ZMK_SPLIT
        default y

endif