#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A  &kp B  &kp C  &kp D                &kp E  &kp F  &kp G  &kp H
                &kp I  &kp J  &kp K  &kp L                &kp M  &kp N  &kp O  &kp P
                                     &kp Q  &kp R  &kp S  &kp T
            >;
        };
    };
};

// minecraft {
//     bindings = <
//         &kp LSHIFT &kp Q    &kp UP   &kp F
//         &kp LCTRL  &kp LEFT &kp DOWN &kp RIGHT
//                                      &kp E     &kp SPACE
//     >;
// };